.actions-container {
  display: flex;
  justify-content: center;
}

.send-button,
.cancel-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 10px;
}

.send-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
