.resizable-panels-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    flex-grow: 1;
  }
  
  .top-panel {
    overflow: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .bottom-panel {
    overflow: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }  
  .separator {
    height: 5px;
    background-color: #ccc;
    cursor: ns-resize;
  }